*~
*.o
/lbmk.err.log
/cbutils/
/pciroms/
/util/e6400-flash-unlock/e6400_flash_unlock
/util/ich9utils/*.bin
/util/ich9utils/demefactory
/util/ich9utils/ich9deblob
/util/ich9utils/ich9show
/util/ich9utils/ich9gen
/TODO
/bios_extract/
/ec/
/tmp/
/payload/
/me_cleaner/
*.s[a-w]?
*.vim
/*.elf
/*.bin
/*.rom
/build_error
/TODO/
/docs/version
/bucts/
/coreboot/
/crossgcc/
/depthcharge/
/flashrom/
/resources/coreboot/*/seen
/grub/
/memtest86plus/
/seabios/
/u-boot/
/bin/
/release/
/descriptors/
/*.bin
/push
/version
/versiondate
/blobs/app/
/blobs/cache/
*me.bin
/mrc/
/util/nvmutil/nvm
