*~
/TODO
/ich9utils/
/tmp/
/payload/
/me_cleaner/
*.s[a-w]?
*.vim
/*.elf
/*.bin
/*.rom
/build_error
/TODO/
/docs/version
/bucts/
/coreboot/
/crossgcc/
/depthcharge/
/flashrom/
/resources/coreboot/*/seen
/grub/
/memtest86plus/
/seabios/
/u-boot/
/bin/
/release/
/descriptors/
/*.bin
/push
/version
/versiondate
/blobs/app/
/blobs/me.exe
/blobs/t440p/me.bin
/blobs/xx20/me.bin
/blobs/xx30/me.bin
/mrc/
