/grubdiff2016/
*~
/TODO
/ich9utils/
/tmp/
/payload/
/me_cleaner/
*.s[a-w]?
*.vim
/*.elf
/*.bin
/*.rom
/build_error
/TODO/
/docs/version
/bucts/
/coreboot/
/crossgcc/
/depthcharge/
/flashrom/
/resources/coreboot/*/seen
/grub/
/memtest86plus/
/seabios/
/bin/
/release/
/descriptors/
/*.bin
/push
/version
/versiondate
